
.body img{
   width: 250px;
   height: 250px; 
}


.body p{
    margin: 20px;
    color:red;
}

.body{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.first img{
    /* width: 100%;
    height:100px; */
}


.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
  }

  @media (min-width:350px){
.first{
    height: 100px;
     margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    background-image: url(https://image.shutterstock.com/z/stock-vector-white-background-vector-white-grey-shade-geometeic-seamless-pattern-modern-minimal-design-1106627888.jpg);

    
}
  }
.first p{
    font-size: 40px;
    font-style:normal;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

@media (min-width:400px){
.second ul
{
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding: 0;
    background-image: url(https://t4.ftcdn.net/jpg/01/95/87/05/500_F_195870564_pQw1lfQ8WO3aCm259JI46466BYFq06of.jpg);
    
}
}
.info_list{
    list-style-type: none;
    padding: 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.info_list a{
    color:green;
    font-size: 30px;
}

@media screen and (max-width:780px){
    .body{
        display: flex;
        flex-direction: column;
    }
    
}