
body{
    
    background-color:white;
    width: 100%;
    height: 100%;
    padding: 0px; 
    margin: 0px; 
    /* background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/12/05/43563a1c6a3de8b.jpg ); */
}

.first img{
    /* width: 100%;
    height:100px; */
}


.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
  }

  @media (min-width:350px){
.first{
    height: 100px;
     margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    background-image: url(https://image.shutterstock.com/z/stock-vector-white-background-vector-white-grey-shade-geometeic-seamless-pattern-modern-minimal-design-1106627888.jpg);

    
}
  }
.first p{
    font-size: 40px;
    font-style:normal;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

@media (min-width:400px){
.second ul
{
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding: 0;
    background-image: url(https://t4.ftcdn.net/jpg/01/95/87/05/500_F_195870564_pQw1lfQ8WO3aCm259JI46466BYFq06of.jpg);
    
}
}
.info_list{
    list-style-type: none;
    padding: 20px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.info_list a{
    color:green;
    font-size: 30px;
}
.third
{
    margin: 10px;
    display:flex;  
    flex-wrap: row;    
    background-image: url(https://wallpapercave.com/wp/Gm2oSea.jpg);
    /* padding: 10px; */
    width: 100%;

}

.third img{
    margin: 10px;
    width: 600px;
    height: 300px;
}

.third p{
    height: 350px;
    width: auto;
    text-align: justify;  
    margin: 20px;
    font-size: 25px;
    margin-left: 200px;
    margin-right: 100px;
}
.four
{
    display: flex;
    text-align: center;
    justify-content: space-evenly; 
    color:black;
  background-image: url(https://s3.amazonaws.com/cup-images/marlo-socolov/large/cup735660_70864.jpg);
}
.Five
{
    display: flex;
    text-align: center;
    justify-content: space-evenly; 
    color:black;
    background-image: url(https://s3.amazonaws.com/cup-images/marlo-socolov/large/cup735660_70864.jpg);
}

@media screen and (max-width:800px){
    .third{
        display: flex;
        flex-direction: column;
    }
    .Five{
        display: flex;
        flex-direction: column;
    }
    .third img{
        width: 300px;
    }
    .third p{
        height: 350px;
        width: auto;
        text-align: justify;  
        margin: 20px;
        font-size: 15px;

    }
}